.idea/.name
.idea/encodings.xml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/Chat_node_modules.xml
.idea/jsLibraryMappings.xml
.idea/runConfigurations/bin_www.xml
.idea/misc.xml
.idea/ChatBuzz.iml